// Colors
$color-primary: #907d7d; //#c15305; // #709aa7;
$color-logo: #c15305;
$background-soft: #fffcf8;

$color-white: #fff; // just white
$color-light-gray-1: #f8f8f8; // background
$color-light-gray-2: #f3f3f3; // whitest text
$color-light-gray-3: #d0d0d0; // placeholder text

$color-dark-gray-1: #333333; // page text
$color-dark-gray-2: #606060; // soft text
$color-black: #000; // just black
$shadow: rgba(0, 0, 0, 0.08);

$gradient: linear-gradient(
  to right,
  #e3eeff,
  #e3eeff 3%,
  #f3e7e9 97%,
  #f3e7e9 99%
);

// Boilerplate CSS from: https://blog.logrocket.com/what-should-modern-css-boilerplate-look-like/
* {
  box-sizing: border-box;
  border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* <html> = the root */
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}
menu,
ol,
ul {
  padding-left: 0;
}
article ol,
article ul {
  list-style-position: inside;
}

a {
  /* Places underlines below the descenders */
  text-underline-position: under;
  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

/** Page Flex CSS **/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}
.col-1 {
  // background: #d7e8d4;
  flex: 0.5;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.col-3 {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.content {
  display: flex;
  flex-direction: row;
}
.content > .content-area {
  flex: 1;
  min-height: 20vh;
}

header,
footer,
article,
nav {
  padding: 1em;
}

/** Custom CSS Layout **/

body.body-background {
  height: 100%;

  background: $gradient;

  padding: 3rem 3rem;
  object-fit: contain;
}

.bounding-box {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 4px 90px $shadow, 0 4px 90px 0 $shadow;
  border: solid 1px $color-light-gray-1;
  background-color: $background-soft;
}

main {
  margin: 3rem;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 1px 50px 0 $shadow;
  border: solid 1px $color-light-gray-2;
  background-color: $color-white;
  max-width: 60rem;
}

.header-title {
  height: 3.5rem;
  margin: 2rem 0;
  font-family: SFUIDisplay;
  font-size: 2.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-logo;
}
