// Colors
$color-primary: #907d7d; //#c15305; // #709aa7;
$color-logo: #c15305;
$background-soft: #fffcf8;

$color-white: #fff; // just white
$color-light-gray-1: #e0e0e0; // background white
$color-light-gray-2: #c0c0c0; // whitest text
$color-light-gray-3: #a0a0a0; // placeholder text

$color-black: #000; // just black
$color-dark-gray-1: #333333; // page text
$color-dark-gray-2: #505050; // soft text
$color-dark-gray-3: #707070; // soft text
$shadow: rgba(0, 0, 0, 0.08);

$gradient: linear-gradient(
  to right,
  #e3eeff,
  #e3eeff 3%,
  #f3e7e9 97%,
  #f3e7e9 99%
);

// Boilerplate CSS from: https://blog.logrocket.com/what-should-modern-css-boilerplate-look-like/
* {
  box-sizing: border-box;
  border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* <html> = the root */
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}
menu,
ol,
ul {
  padding-left: 0;
}
article ol,
article ul {
  list-style-position: inside;
}

a {
  /* Places underlines below the descenders */
  text-underline-position: under;
  /* Sets the thickness as a percentage of the font size */
  text-decoration-thickness: 8;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

/** Page Flex CSS **/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}
.col-1 {
  // background: #d7e8d4;
  flex: 0.5;
}
.col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.col-3 {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.content {
  display: flex;
  flex-direction: row;
}

header,
footer,
article,
nav {
  padding: 1em;
}

/** Custom CSS Layout **/

.hidden {
  display: none !important;
}

body.body-background {
  height: 100%;

  background: $gradient;

  padding: 3rem 3rem;
  object-fit: contain;
}

.body-background > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 1rem;

  width: 100%;
  height: 100%;
  border-radius: 40px;
  box-shadow: 0 4px 90px $shadow, 0 4px 90px 0 $shadow;
  border: solid 1px $color-light-gray-1;
  background-color: $background-soft;
  padding: 0;

  .row {
    width: 100%;
    --bs-gutter-x: 0;
  }
}

.row > .col-nav {
  order: 1;
  flex-grow: 0;
  flex-basis: 0;
  padding-left: 0;
}

.col-input {
  order: 3;
  flex-grow: 4;
  flex-basis: auto;
  margin: 0 1rem;
}

.row > .col-display {
  order: 2;
  flex-grow: 2;
  flex-basis: auto;
  padding-right: 0;
}

main {
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 1px 50px 0 $shadow;
  border: solid 1px $color-light-gray-2;
  background-color: $color-white;
  max-width: 60rem;
}

header {
  height: 3.5rem;
  margin: 2rem;
  h1 {
    font-family: SFUIDisplay;
    font-size: 2.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-logo;
  }
}

footer {
  height: 3.5rem;
  margin: 2rem;

  font-family: SFUIDisplay;

  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-logo;
}
