.panel-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.3rem;
  border-radius: 1.2rem;
  border: solid 1px $color-light-gray-1;
  background-color: $color-dark-gray-1;
  max-width: 40rem;

  hr {
    width: 100%;
    border-color: $color-light-gray-1;
  }
}

.panel-box > h2 {
  color: $color-light-gray-1;
  margin: 1.5rem 0.5rem;
}
